@model IEnumerable<BEFOYS.DataLayer.Model.TblProductCategory>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BEFOYS.DataLayer.Model

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Category = ViewBag.Category as TblProductCategory;
}



@section Styles{
    <link href="~/lib/jquery-datatables/datatables.css" rel="stylesheet" />
    <link href="~/lib/jquery-datatables/DataTables-1.10.20/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/jquery-datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/Modal.css" rel="stylesheet" />
}

<div class="main-section-loader">
</div>
<img src="~/images/Logo-Blue.png" alt="logo" class="main-section-blue-logo-spinner" />
<div class="main-section-spinner-backdrop"></div>

<div class="main-section-header">
    <div class="main-section-header-descs">
        <h5 class="main-section-header-title">دسته بندی</h5>

        @if (Category != null)
        {
            <p class="main-section-header-subtitle">
                زیر دسته برای <a href="@Url.Action("Index",new {id=Category.PcPcdid })">@Category.PcName </a>
            </p>
        }
        else
        {
            <p class="main-section-header-subtitle">
                <br />
            </p>

        }
    </div>
    <div class="main-section-header-icons">
        <a href="javascript:void(0)" onclick="Create()" data-toggle='tooltip' data-placement='auto' title='افزودن برند'>
            <i class="fas fa-plus main-section-header-icon"></i>
        </a>
    </div>
</div>


<div class="main-section-body">


    <div class="" style="width:100%;height:auto">




        <table id="DateTable" dir="rtl" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.PcPcdid)
                        </th>*@
                    <th>
                        نام
                    </th>
                    <th>
                        کمسیون
                    </th>
                    <th>
                        بند قرارداد
                    </th>
                    <th>
                        فعال
                    </th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PcName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PcCommission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PcContractClause)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PcIsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |


                            @if (item.InversePcPcd.Any())
                            {
                                <a asp-action="Index" asp-controller="ProductCategory" asp-area="Crm" asp-route-id="@item.PcId">زیر دسته ها</a><span>|</span>
                            }
                            <a asp-action="Create" asp-controller="ProductCategoryFeature" asp-area="Crm" asp-route-id="@item.PcId">افزودن گروه فیلد</a><span>|</span>
                            <a asp-action="Create" asp-controller="ProductCategory" asp-area="Crm" asp-route-id="@item.PcId">افزودن زیر دسته</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@Html.Partial("_Modal")

@section Scripts{

    <script src="~/lib/jquery-datatables/datatables.js"></script>
    <script src="~/lib/jquery-datatables/DataTables-1.10.20/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#DateTable').DataTable({
                language: {

                    "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                    "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                    "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "در حال بارگزاری...",
                    "sProcessing": "در حال پردازش...",
                    "sSearch": "",
                    "sSearchPlaceholder": "جستجو",
                    "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                    "oPaginate": {
                        "sFirst": "ابتدا",
                        "sLast": "انتها",
                        "sNext": "بعدی",
                        "sPrevious": "قبلی"
                    },
                    "oAria": {
                        "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                        "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                    }
                },

                scrollX: true,
                scrollCollapse: true,
            });
        });
    </script>

    <script>

        function Create() {
            $.ajax({
                url: "@Url.Content("~/Crm/ProductCategory/Create")",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن دسته بندی');
                $('#myModalBody').html(result);
            });
        }
    </script>

}