@model IEnumerable<BEFOYS.DataLayer.Model.TblProductCategory>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BEFOYS.DataLayer.Model

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Category = ViewBag.Category as TblProductCategory;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Category != null)
{
<div class="row">
    <div class="col-12">
        <header>
            زیر دسته برای @Category.PcName
        </header>
    </div>
</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PcId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcPcdid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcCommission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcContractClause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcIsBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcIsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PcName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcCommission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcContractClause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcIsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    @if (item.InversePcPcd.Any())
                    {
                        <a asp-action="Index" asp-controller="ProductCategory" asp-area="Crm" asp-route-id="@item.PcId">زیر دسته ها</a><span>|</span>
                    }
                    @if (!item.InversePcPcd.Any())
                    {
                        <a asp-action="Index" asp-controller="ProductCategory" asp-area="Crm" asp-route-id="@item.PcId">زیر دسته ها</a><span>|</span>
                        <a asp-action="Create" asp-controller="ProductCategoryFeature" asp-area="Crm" asp-route-id="@item.PcId">افزودن گروه فیلد</a><span>|</span>
                        
                    }
                    <a asp-action="Create" asp-controller="ProductCategory" asp-area="Crm" asp-route-id="@item.PcId">افزودن زیر دسته</a>
                </td>
            </tr>
        }
    </tbody>
</table>
