@model IEnumerable<BEFOYS.DataLayer.Model.TblEmployee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.ID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLogin.LoginFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTypeCodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeOrganizationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeWalletSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIsAgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeOrid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLogin.LoginFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLogin.LoginLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLogin.LoginMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLogin.LoginEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTypeCode.CodeDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeWalletSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeIsAgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeOr.OrDisplay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">حذف</a>
                @if (!item.TblEmployeeRegistrationCode.Any())
                {
                    <a asp-action="RegisterationCode" asp-route-id="@item.EmployeeId">تعریف کد</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
