@model IEnumerable<BEFOYS.DataLayer.Model.TblProduct>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <link href="~/lib/jquery-datatables/datatables.css" rel="stylesheet" />
    <link href="~/lib/jquery-datatables/DataTables-1.10.20/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/jquery-datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/Modal.css" rel="stylesheet" />
}

<div class="main-section-loader">
</div>
<img src="~/images/Logo-Blue.png" alt="logo" class="main-section-blue-logo-spinner" />
<div class="main-section-spinner-backdrop"></div>

<div class="main-section-header">
    <div class="main-section-header-descs">
        <h5 class="main-section-header-title">اطلاعات سازمان</h5>

        <p class="main-section-header-subtitle">
            <br />
        </p>

    </div>
    <div class="main-section-header-icons">
        <a href="javascript:void(0)" onclick="Create()" data-toggle='tooltip' data-placement='auto' title='افزودن برند'>
            <i class="fas fa-plus main-section-header-icon"></i>
        </a>

        @*<i class="fas fa-ellipsis-v main-section-header-icon" onclick="showHeaderDropdown()"></i>*@
    </div>
</div>

@*<div class="main-section-header-dropdown">
        <div class="main-section-header-dropdown1">
            <i class="fas fa-cloud-download-alt main-section-header-dropdown1-icon"></i>
            <a href="" class="main-section-header-dropdown1-text">تمام کارمندان</a>
        </div>
        <div class="main-section-header-dropdown1">
            <i class="fas fa-cloud-download-alt main-section-header-dropdown1-icon"></i>
            <a href="" class="main-section-header-dropdown1-text">تمام مدیران</a>
        </div>
        <div class="main-section-header-dropdown1">
            <i class="fas fa-cloud-download-alt main-section-header-dropdown1-icon"></i>
            <a href="" class="main-section-header-dropdown1-text">تمام مدیران</a>
        </div>
    </div>*@



<div class="main-section-body">


    <div class="" style="width:100%;height:auto">

        <table id="" dir="rtl" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPcid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductBrandsId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductLoginId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductIsDelete)
                    </th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPcid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductBrandsId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductLoginId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductIsDelete)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |

                            <a asp-action="Picture" asp-controller="ProductDocument" asp-area="Crm" asp-route-id="@item.ProductId">عکس ها</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@Html.Partial("_Modal")

@section Scripts{

    <script src="~/lib/jquery-datatables/datatables.js"></script>
    <script src="~/lib/jquery-datatables/DataTables-1.10.20/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#DateTable').DataTable({
                language: {

                    "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                    "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                    "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "در حال بارگزاری...",
                    "sProcessing": "در حال پردازش...",
                    "sSearch": "",
                    "sSearchPlaceholder": "جستجو",
                    "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                    "oPaginate": {
                        "sFirst": "ابتدا",
                        "sLast": "انتها",
                        "sNext": "بعدی",
                        "sPrevious": "قبلی"
                    },
                    "oAria": {
                        "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                        "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                    }
                },

                scrollX: true,
                scrollCollapse: true,
            });
        });
    </script>

    <script>

        function Create() {
            $.ajax({
                url: "@Url.Content("~/Crm/Product/SelectCategory")",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن محصول');
                $('#myModalBody').html(result);
            });
        }

    </script>

}