@model IEnumerable<BEFOYS.DataLayer.Model.TblPermission>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionCodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionIsFree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionCodeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionIsFree)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
